body{
    font-family: "Apple Braille", system-ui;
    background-color: white;
    color: black;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-float-done {
    clear: both;
}