.wd-basic-frame {
    border-color: rgb(154, 159, 162);
    border-width: 0px;
    border-style: solid;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    margin-left: 16px;
}

.wd-empty {
    border-color: rgb(131, 138, 143);
    border-width: 0px;
    border-style: solid;
    padding-top: 12px;
    padding-left: 12px;
    margin-left: 16px;
}



.wd-search-field {
    background-color: lightgray;
    border-radius: 30px;
    border-width: 0;
    width : 85%;
    height: 30px;
}

.wd-search-field input {
    background-color: darkgray;
    border-width: 0;
    width : 85%;
    height: 25px;
}

.fa-magnifying-glass {
    color: rgb(172, 182, 192);
    padding-left: 20px;
}

.fa-gear {
    color: rgb(29,161,242);
}

.wd-nav-tabs {
    font-size: 15px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
    padding: 16px;
}

.wd-nav-tabs a {
    text-decoration: none;
    color: rgb(110, 118, 125);
}

.wd-selected {
    border-bottom-color: rgb(29,161,242);
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.wd-selected a {
    color: rgb(29,161,242);
}

.wd-post-image {
    width: 100px;
    height: 100px;
    margin-right: 16px;

    
}
.wd-post-image2 {
    width: 90%;
    height: 100px;
    /* margin-left: 10px; */
    
    
}

.wd-settings {
    float: right;
    margin-right: 12px;
}

.fa-ellipsis {
    float: right;
    margin-right: 12px;
    color: rgb(110, 118, 125);
}

.wd-topic {
    padding-bottom: 6px;
    color: rgb(110, 118, 125);
}

.wd-title {
    padding-bottom: 6px;
}

.wd-author {
    padding-bottom: 6px;
}

.wd-number-of-tweets {
    padding-bottom: 6px;
    color: rgb(110, 118, 125);
}

